circle {
    stroke-width: 25px;
}

text {
    font-size: larger !important;
}

label {
    font-size:x-large !important;
}

.needle {
    stroke: rgb(123, 123, 123) !important;
    stroke-width: 10 !important;
}