circle {
    stroke-width: 22px;
}

text {
    font-size: larger !important;
}

label {
    font-size:x-large !important;
}

/*
@media (max-width: 479px) {
    .sc-iwsKbI{
        width: 10% !important;
    }
}
*/